@import url("https://rsms.me/inter/inter.css");

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

/* Base Styles */
.container {
  max-width: 70%;
  padding: 0px 10px;
  margin: 0 auto;
}

/* Main/Index Page Styles */
.image-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/main_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.buttons-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 30px;
}

.buttons-container > a {
  text-decoration: none;
  background: black;
  border-radius: 3px;
  padding: 15px;
  color: white;
  font-size: 2rem;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: 0;
}

.buttons-container > a:hover {
  background: white;
  color: black;
}

/* Rules Page Styles */
.heading-container {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go_back_button {
  text-decoration: none;
  color: #1e90ff;
  font-size: 1.4rem;
  font-weight: 400;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.go_back_button:hover {
  transform: translateX(-10px);
  color: #70a1ff;
  outline: none;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

.subtitle {
  font-size: 2rem;
  font-weight: 400;
}

/* .rules-container {
}

.rule {
} */

.rule__title {
  font-size: 3rem;
  font-weight: 900;
  color: #2f3542;
  margin-bottom: 20px;
  margin-left: 5px;
}

.rule__description {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}

/* .cash-list {

} */

hr {
  width: 40px;
  display: block;
  margin: 60px auto;
}

.cash-list > li {
  list-style: none;
  padding: 5px;
}

/* Game Page Styles */
.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2%;
  position: relative;
}

.money_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
 
  width: 30%;
  height: 100%;
}

.cash_button {
  padding: 10px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border: none;
  border-radius: 50%;
  width: 20%;
  color: black;
  margin: 10px;
}

.active {
  background: red;
}

.wider {
  max-width: 90%;
}

.questions_container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  max-width: 50%;
}

.answers {
  margin-top: 100px;
}

.answer {
  list-style: none;
  margin-bottom: 30px;
  font-size: 2rem;
  background: #3742fa;
  display: block;
  width: 200px;
  padding: 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.answer:hover {
  background: #ff4757;
  color: black;
}
